# ignore all files in data/ except NOTE

#Datafiles, logs
WritingAssistantBackend/data/*
!WritingAssistantBackend/data/NOTE
!WritingAssistantBackend/data/actionTypes.csv

WritingAssistantBackend/StartFlask.bat
WritingAssistantBackend/.env
WritingAssistantInterface/.env
WritingAssistantBackend/.flaskenv
WritingAssistantInterface/.flaskenv

WritingAssistantBackend/setupBackend/logs/*
WritingAssistantInterface/setupInterface/logs/*

# Python bytecode
__pycache__/
**/__pycache__/
*.py[cod]

# Alembic migrations cache (if any)
WritingAssistantBackend/migrations/*
!WritingAssistantBackend/migrations/versions/
!WritingAssistantBackend/migrations/versions/*.py


# Python bytecode
__pycache__/
*.pu[cod]

# Local DB file
*.db

start_dev_servers.bat
