# ignore all files in data/ except NOTE
WritingAssistantBackend/data/*
WritingAssistantBackend/setupBackend/logs/*
!WritingAssistantBackend/data/NOTE
WritingAssistantBackend/StartFlask.bat

WritingAssistantInterface/setupFrontend/logs/*