/* Stylesheet that controls the general layout of the Writing Assistant Interface */

:root {
    --borderColor: #003153; /* borderColor blue color */
}

/* Overall container uses column direction */
.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    background: #e6f4ff;
}

/* Top pane (header) */
.top-pane {
    background: #f5f5f5;
    padding: 1rem;
    flex: 0 0 auto; /* fixed height based on content or padding */

    /* appearance of this pane */
    margin: 0.4rem 0.4rem 0.2rem 0.4rem;
    /* border-bottom: 2px solid var(--borderColor); */
    border: 1px solid var(--borderColor);
    border-radius: 6px;
}

/* Bottom area fills remaining space */
.bottom-pane {
    padding-bottom: 0.4rem;
    display: flex;
    flex: 1 1 auto;
    min-height: 0; /* grow to fill the rest of the height */
    min-height: 0; /* allow children to scroll if needed */
}

/* Left pane */
.left-pane {
    background: #ffffff;
    padding: 1rem;
    flex: 0 0 20%;
    overflow: auto; /* scroll if content overflows */

    /* appearance of this pane */
    margin: 0.2rem 0.2rem 0.2rem 0.4rem;
    /* border-right: 2px solid var(--borderColor); */
    border: 1px solid var(--borderColor);
    border-radius: 6px;
}

.right-pane {
    display: flex;
    flex: 1 1 auto; /* fixed height based on content or padding */
    flex-direction: column;/* side-by-side children */
    /* appearance */
    margin: 0.2rem 0.4rem 0.2rem 0.2rem;
    border: 1px solid var(--borderColor);
    border-radius: 6px;
}

#sandbox {
    margin: 0rem 0.1rem 0.1rem 0.1rem;
    flex: 1 1 auto;
    min-height: 0; /* grow to fill the rest of the height */
    min-height: 0; /* allow children to scroll if needed */
    /* appearance of this pane */

}

html, body {
    height: 100%;
    margin: 0;
}

/* kill default body-margin */
#poemForm, .container {
    height: 100%;
}

/* 100 % all the way down   */
div {
    margin: 0;
}

input {
    caret-color: var(--borderColor);
}