/* =============== 1.  GENERAL RESET FOR THE SANDBOX =============== */
#suggestionBox,
[id^="suggB"] {
    background: #f8f8f8; /* white “canvas” */
    border: 1px solid var(--borderColor);
    border-radius: 0.6rem;
    padding: 0.2rem;
    margin-top: 0.2rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
    overflow: auto;
    max-width: 100%;
}

#suggestionRefresher {
    padding-top: 0.2rem;
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}

#suggestionlist,
[id^="suggL"] {
    background: #ffffff;
    margin-right: 0.2rem;
    display: flex;
    border: 1px solid #b4b4b4;
    border-radius: 0.6rem;
    padding: 0.2rem;
    flex: 1 1 auto;
    flex-direction: column;
    box-sizing: border-box;
    gap: 0.2rem;
}

.suggestionWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}


.suggestion {
    flex: 1 1 auto;
    min-width: 0;
    font-size: 1rem;
    box-sizing: border-box;
    border: none;
    padding: 0.2rem 0.2rem 0.3rem 0.2rem;
    /* Smooth focus highlight */
    transition: background 0.2s, border 0.2s;
    margin-right: 0.2rem;
}

.suggestion:hover {
    background-color: #f5f5f5;
    border-radius: 4px;
}

.suggestionWrapper:not(.selected):hover .suggestion {
    outline: 1px solid #b4b4b4;
    background: #f5f5f5;
    border-radius: 0.4rem;
}

.suggestionWrapper.selected .suggestion {
    outline: 1px solid #b4b4b4;
    background: #f5f5f5;
    border-radius: 0.4rem;
}

.suggestionWrapper:hover [id^="btn_acceptSuggestion"]:not(:disabled) {
    background-position: -29px 0;
}


/* SOLVED IN layout.css (it is used in all panes)
.btn {
    width: 28px;
    height: 28px;
    padding: 0;
    border: none;

}
*/

[id^="btn_acceptSuggestion"] {
    background-image: url('../img/btn_SaveVerse.svg');
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 86px 28px;
}

[id^="btn-f5-lst-sug-"] {
    background-image: url('../img/btn_GenerateVerseAllOverAgain.svg');
}

[id^="btn-close-box-sug-"] {
    background-image: url('../img/btn_DelVerse.svg');
}