<div class="left-pane">
    <div id="keywordbox"></div>
</div>
<div class="right-pane">
    <input type="hidden" id="nmfDim" name="nmfDim" value={{ poem.nmfDim | default('random') }}>
    <input type="hidden" id="poem_id" name="poem_id" value={{ poem.id | default('') }}>
    <div id="parambox">
        {# Building the selects #}
        {%- for section in weblists %}
            {# each `section` is a dict like {"lang": { … }} or {"form": { … }} #}
            {%- for list_name, list_data in section.items() %}
                <label for="{{ list_name }}">{{ list_data.label }}</label>
                <select id="{{ list_name }}" name="{{ list_name }}">
                    {%- for opt in list_data.options %}
                        <option id="{{ list_name }}_{{ opt.id }}"
                                value="{{ opt.id }}"
                                {%- if opt.default %}selected{%- endif %}>
                            {{ opt.label }}
                        </option>
                    {%- endfor %}
                </select>
            {%- endfor %}
        {%- endfor %}
    </div>
    <div id="titlebox">
        <input type="text" id="poemTitle" name="poemTitle"
               placeholder="{{ randomPlaceholder }}"/></div>
    <fieldset id="sandboxFields">
        <div id="sandbox"></div>
    </fieldset>
</div>
{%- if poem %}
    <script id="poem-data" type="application/json">{{ poem | tojson }}</script>
{%- endif %}
<script id="rhyme-data" type="application/json">{{ weblists_form | tojson }}</script>

