<div class="login-wrapper">
    <div class="login-fields-wrapper">
        <h1>Log In</h1>
        <div class="login-identifier-wrapper">
            <label for="loginIdentifier">Username or email: </label>
            <input id="loginIdentifier" name="identifier" type="text" required>
        </div>
        <div class="login-password-wrapper">
            <label for="loginPassword">Password: </label>
            <input id="loginPassword" name="password" type="password" required>
        </div>
        <div class="login-button-wrapper">
            <button type="submit" id="btn_login" name="btn_login" title="Login" alt="Login"></button>
            <p id="loginError" style="color: red;"></p></div>
    </div>
</div>
