<div class="login-wrapper">
    <div class="login-fields-wrapper">
        <div class="login-header">
            <h1>Register</h1>
            <button type="submit" id="btn_registerSave" name="btn_registerSave" title="Register"></button>
        </div>
        <div class="login-identifier-wrapper">
            <label for="loginIdentifier">Username: </label>
            <input id="loginIdentifier" name="user" type="text" required>
        </div>
        <div class="login-identifier-wrapper">
            <label for="loginIdentifier">email: </label>
            <input id="loginIdentifier" name="email" type="text" required>
        </div>
        <div class="login-password-wrapper">
            <label for="loginPassword">Choose password: </label>
            <input id="loginPassword" name="password" type="password" required>
        </div>
        <div class="login-password-wrapper">
            <label for="loginPassword">Repeat password: </label>
            <input id="loginPassword2" name="confirm_password" type="password" required>
        </div>
        <div class="gdpr-consent-wrapper">
            <p>
                The Poem Factory uses one cookie to keep you logged in, that's all.
                No spam, no ads, just rhymes.
            </p>
            <div class="gdpr-consent-checkbox-wrapper">
                <input type="checkbox" id="gdprConsent" name="gdprConsent">
                <label for="gdprConsent">Please agree to the use of a login-cookie to use the Poem Factory.</label>
            </div>
        </div>
        </label>
    </div>
    </div>
</div>
</div>