<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Poem Generator</title>
    <link rel="stylesheet" href="/static/css/layout.css">
    <link rel="stylesheet" href="/static/css/sandbox.css">
    <link rel="stylesheet" href="/static/css/suggestionbox.css">
    <link rel="stylesheet" href="/static/css/parambox.css">
    <link rel="stylesheet" href="/static/css/keywordbox.css">
    <link rel="stylesheet" href="/static/css/niftyThings.css">
    <link rel="icon" href="static/img/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="static/img/favicon.ico" type="image/x-icon">
    <link rel="icon" sizes="32x32" href="static/img/favicon.ico" type="image/x-icon">
</head>
<body>
<form id="poemForm">
    <div class="container">
        <div class="top-pane">
            <h1>Poem factory</h1>
            <input type="hidden" name="nmfDim" value="random">
        </div>
        <div class="bottom-pane">
            <div class="left-pane">
                <div id="keywordbox"></div>
            </div>
            <div class="right-pane">
                <div id="parambox">
                    {# index.html #}
                    {% for section in weblists %}
                        {# each `section` is a dict like {"lang": { … }} or {"form": { … }} #}
                        {% for list_name, list_data in section.items() %}
                            <label for="{{ list_name }}">{{ list_data.label }}</label>
                            <select id="{{ list_name }}" name="{{ list_name }}">
                                {% for opt in list_data.options %}
                                    <option id="{{ list_name }}_{{ opt.id }}"
                                            value="{{ opt.id }}"
                                            {% if opt.default %}selected{% endif %}>
                                        {{ opt.label }}
                                    </option>
                                {% endfor %}
                            </select>
                        {% endfor %}
                    {% endfor %}
                </div>
                <div id="titlebox">
                    <input type="text" id="poemTitle" name="poemTitle"
                           placeholder="{{ randomPlaceholder }}"/></div>
                <fieldset id="sandboxFields"><div id="sandbox"></div></fieldset>
            </div>
        </div>
    </div>
</form>

<script type="module" defer src="{{ url_for('static', filename='js/main.js') }}"></script>
<script type="module" src="{{ url_for('static',filename='js/linkUserInteractionToBackend.js') }}"></script>
<script type="module" src="{{ url_for('static',filename='js/API.js') }}"></script>
<script type="module" src="{{ url_for('static',filename='js/sandboxInteraction.js') }}"></script>
<script type="module" src="{{ url_for('static',filename='js/paramboxInteraction.js') }}"></script>
<script type="module" src="{{ url_for('static',filename='js/suggestionboxInteraction.js') }}"></script>
<script type="module" src="{{ url_for('static',filename='js/keywordboxInteraction.js') }}"></script>
<script type="module" src="{{ url_for('static',filename='js/niftyThings.js') }}"></script>
<script>const rhymeSchemes = {{ weblists_form | tojson }};</script>
</body>
</html>