<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Poem Generator</title>
    <link rel="stylesheet" href="/static/css/layout.css">
    <link rel="stylesheet" href="/static/css/sandbox.css">
    <link rel="stylesheet" href="/static/css/niftyThings.css">
</head>
<body>
<form id="poemForm">
    <div class="container">
        <div class="top-pane">
            <h1>Poem factory</h1>
            <button type="submit">Generate</button>
        </div>
        <div class="bottom-pane">
            <div class="left-pane">
                <h2>Keyword Pane</h2>
                <label>
                    Language:
                    <input name="lang" value="EN">
                </label><br/>
                <label>
                    Form:
                    <input name="form" value="shorter">
                </label><br/>
                <label>
                    NMF Dimension:
                    <input name="nmfDim" value="random">
                </label>
            </div>
            <div class="right-pane" id="sandbox" onLoad="document.getElementById('output').addField();">

            </div>
        </div>
    </div>
</form>

<script type = "module" defer src="{{ url_for('static', filename='js/main.js') }}"></script>
<script type = "module" src="{{ url_for('static',filename='js/linkUserInteractionToBackend.js') }}"></script>
<script type = "module" src="{{ url_for('static',filename='js/sandbox.js') }}"></script>
<script type = "module" src="{{ url_for('static',filename='js/niftyThings.js') }}"></script>
</body>
</html>