<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Poem Builder</title>
    <link rel="stylesheet" href="/static/css/layout.css">
    <link rel="stylesheet" href="/static/css/login.css">
    <link rel="stylesheet" href="/static/css/niftyThings.css">
    <!-- Load the other stylesheets after the page has been loaded, they are only needed after login -->
    <link rel="preload" href="/static/css/poemlist.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript>
        <link rel="stylesheet" href="/static/css/poemlist.css">
    </noscript>
    <link rel="preload" href="/static/css/sandbox.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript>
        <link rel="stylesheet" href="/static/css/sandbox.css">
    </noscript>
    <link rel="preload" href="/static/css/suggestionbox.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript>
        <link rel="stylesheet" href="/static/css/suggestionbox.css">
    </noscript>
    <link rel="preload" href="/static/css/parambox.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript>
        <link rel="stylesheet" href="/static/css/parambox.css">
    </noscript>
    <link rel="preload" href="/static/css/keywordbox.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript>
        <link rel="stylesheet" href="/static/css/keywordbox.css">
    </noscript>
    <link rel="icon" href="static/img/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="static/img/favicon.ico" type="image/x-icon">
    <link rel="icon" sizes="32x32" href="static/img/favicon.ico" type="image/x-icon">
</head>
<body>
<form id="poemForm" method="POST" autocomplete="off">
    <div class="container">
        <div class="top-pane">
            <h1>Poem Builder</h1>
        </div>
        <div class="bottom-pane">
            {% include 'partials/login.html' %}
        </div>
    </div>
</form>
<script type="module" src="{{ url_for('static', filename='js/linkUserInteractionToBackend.js') }}"></script>
<script type="module" src="{{ url_for('static', filename='js/initPageInteraction.js') }}"></script>
<script type="module" src="{{ url_for('static', filename='js/API.js') }}"></script>
<script type="module" src="{{ url_for('static', filename='js/loginInteraction.js') }}"></script>
<script type="module" src="{{ url_for('static', filename='js/poemlistInteraction.js') }}"></script>
<script type="module" src="{{ url_for('static', filename='js/editorInteraction.js') }}"></script>
<script type="module" src="{{ url_for('static', filename='js/sandboxInteraction.js') }}"></script>
<script type="module" src="{{ url_for('static', filename='js/paramboxInteraction.js') }}"></script>
<script type="module" src="{{ url_for('static', filename='js/suggestionboxInteraction.js') }}"></script>
<script type="module" src="{{ url_for('static', filename='js/keywordboxInteraction.js') }}"></script>
<script type="module" src="{{ url_for('static', filename='js/niftyThings.js') }}"></script>
</body>
</html>